//  Open Indicator

//  The open indicator appears as a down facing
//  caret on the right side of the select.

$transition-timing-function: cubic-bezier(1.000, -0.115, 0.975, 0.855);
$transition-duration: 150ms;

$open-indicator-color: $vs-controls-color;
$open-indicator-size: $vs-controls-size;
$open-indicator-width: $vs-controls-width;
$open-indicator-linecap: $vs-controls-linecap;
$open-indicator-miterlimit: $vs-controls-miterlimit;

.vs__open-indicator {
  stroke: $open-indicator-color;
  stroke-width: $open-indicator-width;
  stroke-linecap: $open-indicator-linecap;
  stroke-miterlimit: $open-indicator-miterlimit;
  transform: scale($open-indicator-size);
  transition: transform $transition-duration $transition-timing-function;
  transition-timing-function: $transition-timing-function;
}

//  Open State

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale($open-indicator-size) translateY(1px);
}

//  Loading State

.vs--loading .vs__open-indicator {
  opacity: 0;
}
