@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  --input-border-color: rgba(60, 60, 60, 0.26);

  /* vs__dropdown-toggle */
  --vs-height: 36px;
  --vs-bg-color: #fff;
  --vs-state-no-drop-bg: red;
  --vs-state-disabled-bg: rgb(248, 248, 248);

  /* .vs__dropdown-menu */
  --vs-dropdown-options-gap: 2px;
  --vs-dropdown-padding: 5px;

  /* dropdown option */
  --vs-dropdown-option--active-bg: black;
  --vs-dropdown-option--selected-bg: gray;
}
