@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom */
  --header-z-index: 40;
  --footer-z-index: 20;
  /* Notes: should not be lower than header z-index or it would be header's z-index level */
  --drawer-z-index: 50;
  --tabs-z-index: 30;
  --judge-dashboard-tabs-z-index: 10;
  --input-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  --input-border-color: rgba(60, 60, 60, 0.26);

  --vselect-left-space: 0.5rem;
  --vselect-right-space: 0.5rem;

  --vs-colors--lightest: var(--input-border-color);
  --vs-colors--light: rgba(60, 60, 60, 0.5);
  --vs-colors--dark: #333;
  --vs-colors--darkest: rgba(0, 0, 0, 0.15);

  /* Search Input */
  --vs-search-input-color: inherit;
  --vs-search-input-bg: #ffffff;
  --vs-search-input-placeholder-color: inherit;

  /* Font */
  --vs-font-size: 1rem;
  --vs-line-height: 1.7;

  /* Disabled State */
  --vs-state-disabled-bg: rgb(248, 248, 248);
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;

  /* Borders */
  --vs-border-color: var(--vs-colors--lightest);
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 4px;

  /* Actions: house the component controls */
  --vs-actions-padding: 4px 6px 0 3px;

  /* Component Controls: Clear, Open Indicator */
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;

  /* Selected */
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);

  /* Dropdown */
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: inherit;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 120px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0px 3px 6px 3px var(--vs-colors--darkest);

  /* Options */
  --vs-dropdown-option-bg: #000;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 5px 20px;

  /* Active State */
  --vs-dropdown-option--active-bg: #636568;
  --vs-dropdown-option--active-color: #fff;

  /* Deselect State */
  --vs-dropdown-option--deselect-bg: #fb5858;
  --vs-dropdown-option--deselect-color: #fff;

  /* Transitions */
  --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  --vs-transition-duration: 0ms;
}

/* 調整下拉式選單的樣式 */
.vs__dropdown-menu {
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
  overflow-x: hidden;
}

/* 將原生 open 後 border 底部顏色改回原狀 */
.vs--open .vs__dropdown-toggle {
  border-bottom-color: var(--vs-colors--lightest);
}
