/* Search Input */

/**
 * Super weird bug... If this declaration is grouped
 * below, the cancel button will still appear in chrome.
 * If it's up here on it's own, it'll hide it.
 */
.vs__search::-webkit-search-cancel-button {
  display: none;
}

.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration,
.vs__search::-ms-clear {
  display: none;
}

.vs__search,
.vs__search:focus {
  /* disable the quick blinking effect when the input has been hit */
  /* refer to https://stackoverflow.com/questions/3516173/ipad-safari-how-to-disable-the-quick-blinking-effect-when-a-link-has-been-hit */
  -webkit-tap-highlight-color: transparent;

  width: 0;
  max-width: 100%;
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;

  background: none;
  box-shadow: none;
  color: var(--vs-search-input-color);
  appearance: none;
  line-height: var(--vs-line-height);
  font-size: var(--vs-font-size);
  border: 1px solid transparent;
  border-left: none;
  outline: none;
}

.vs__search::placeholder {
  color: var(--vs-search-input-placeholder-color);
}

/**
    States
 */

/* Unsearchable */
.vs--unsearchable {
  .vs__search {
    opacity: 1;
  }
  &:not(.vs--disabled, .vs--no-drop) .vs__search {
    cursor: pointer;
  }
}

/* Single, when searching but not loading or open */
.vs--single.vs--searching:not(.vs--open):not(.vs--loading) {
  .vs__search {
    opacity: 0.2;
  }
}
